services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb

    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: PlanDb
    ports:
      - 5434:5432
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
