.Dashboard {
  box-sizing: border-box;
  padding: 2rem;

  h1 {
    font-weight: 500;
    font-size: 2.5em;
  }

  #statistics {
    margin-top: 1.5rem;
    display: flex;
    gap: 120px;

    section {
      h2 {
        font-weight: 500;
        font-size: 1.5em;
      }

      #data-points {
        display: flex;
        gap: 60px;

        .dataPoint {
          display: block;
          text-align: right;

          span {
            font-size: 2.5em;
            font-weight: 500;
          }
          div {
            color: #606060;
          }
        }
      }
    }
  }

  button {
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 0.8em;
    padding: 0em 0.4em;
    display: flex;
    align-items: center;
    gap: 0.5ch;
    margin-top: 1em;
    cursor: pointer;
  }
}
