.Creation-Form {
  padding: 5em;

  h1 {
    font-size: 2em;
  }

  #project-creation-input {
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.5em;
    outline: none;
    margin-top: 1em;
  }

  button {
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 0.8em;
    padding: 0em 0.4em;
    display: flex;
    align-items: center;
    gap: 0.5ch;
    margin-top: 1em;
    cursor: pointer;
  }
}
