.Focused-Project {
  position: relative;
  width: 100%;

  #project-header {
    position: relative;
    width: 100%;
    background-color: #202020;
    color: white;
    height: 20rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 4.75rem;
    font-weight: 600;
  }
}
