.Focused-Project {
  position: relative;
  width: 100%;
  height: 92vh;
  overflow: auto;

  #project-header {
    top: 0;
    position: sticky;
    width: 100%;
    background-color: #202020;
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 1.75rem;
    font-weight: 600;
  }

  nav {
    display: flex;
    gap: 2ch;
    width: 100%;
    border-bottom: 1px solid black;
    height: 2em;
    font-size: 0.8em;
    box-sizing: border-box;
    padding: 0 0.5em;
    align-content: center;
  }

  nav > button {
    cursor: pointer;
  }
}
